# Django
db.sqlite3
db.sqlite3-journal
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environments
venv/
env/
ENV/
.venv/

# Environment Variables
.env

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
